
<nav class="navbar navbar-light bg-light">
  <div class="container-row">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="afficher-livre/afficher-livre.component.html">afficher un livre </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" rooterLink="/livres-liste" href="afficher-les-livres/afficher-les-livres.component.html">afficher les livres</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="creer-livre/creer-livre.component.html">creer un livre </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="app.component.html">accueil </a>
    </li>
</div>
</nav>
<app-creer-livre></app-creer-livre>
<app-afficher-livre></app-afficher-livre>
<app-afficher-les-livres></app-afficher-les-livres>

